.header {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    align-items: center;
    
}
.logo {
    color: #ff4c68;
    padding: 20px;
    font-weight: bold;
    font-family: "Ubuntu";
    font-size: 2.5rem;
}
.header-icon {
    padding: 20px
}

/*
tindad color pallette: 
color: #fff;
color: #ff4c68;
color: #8f8f8f;
color: #ef8172;

*/