h1 {
    margin: 10px auto 10px auto;
}
.profile {
    padding: 20px;
    text-align: center;
}
.profile-avatar {
    margin: 20px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.profile-items {
    margin: 20px auto 20px auto;
}
.profile-items > h2 {
    padding-bottom: 5px;
}
.profile-name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings {
    margin-top: 50px;
    text-align: center;
}
.settings-location {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}